@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=IBM+Plex+Sans&family=Oswald:wght@400;700&family=Space+Mono&display=swap');
:root {
    --night: #0f0f0fff;
    --jet: #2d2e2eff;
    --dim-gray: #716969ff;
    --rose-quartz: #bcabaeff;
    --light-gray: #d3cfd0ff;
    --white: #fbfbfbff;

    --electric-lime: #c2f706;

    --dark-spring-green: #306b34ff;

    --heading-font: 'Dela Gothic One', sans-serif;
    --subheading-font: 'Oswald', sans-serif;
    --display-font: 'IBM Plex Sans', sans-serif;
    --mono-font: 'Space Mono', monospace;

    --small-font-size: .75em;
    --classic-font-size: 1em;
    --big-font-size: 1.25em;
    --bigger-font-size: 2em;


    --text: var(--night);
    --text-secondary: var(--jet);
    --mid-text: var(--dim-gray);
    --mid-back: var(--rose-quartz);
    --background-secondary: var(--light-gray);
    --background: var(--white);

    --cta: var(--dark-spring-green);
    --validation-green: #94e8b4;
    --invalid-red: #d52941;
}

/* GENERIC */

body {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--display-font);
    margin: 0;
}

a {
    color: var(--cta);
}

h1 {
    font-family: var(--heading-font);
}


/* LOGIN SPECIFIC */

.loginWrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginCard {
    display: flex;
    flex-direction: column;
    min-width: 33%;
}

.loginCardHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.loginFormFieldWrapper {
    padding-left: 1em;
    border: 1px solid var(--mid-text);
    border-radius: 5px;
    display: flex;
}

.loginFormField {
    margin: 1em 0;
    flex-grow: 1;
    font-family: var(--mono-font);
    font-size: var(--classic-font-size);
    background-color: var(--background);
    color: var(--text-secondary);
    border: none;
}

.loginFormField[type="password"] {
    kerning: 5px;
}

.loginFormFieldWrapper:has(*:focus) {
    border: 1px solid var(--cta);
}

.loginFormField:focus {
    outline: none;
}

.ctaContainer {
    display: flex;
    min-height: 4em;
}

.visibilityButton {
    padding: 0 1.5em;
    background-color: transparent;
    border: none;
}

.visibilityButton:hover, .visibilityButton:focus {
    background-color: var(--background-secondary);
    border-radius: 0 5px 5px 0;
}

/* AGENT ACCUEIL SPECIFIC */

.agentWrapper {
    min-height: 100vh;
}

.navWrapper {
    border-bottom: 1px solid var(--text);
}

nav {
    padding: 1em 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.searchWrapper {
    flex-grow: 30;
    padding-left: 1em;
    border: 1px solid var(--mid-text);
    background-color: var(--white);
    border-radius: 5px;
}

.advancedSearchandAccountWrapper {
    flex-grow: 1;
    display: flex;
    gap: 1em;
}
.searchWrapper:has(*:focus), .searchWrapper:hover, .advancedSearchButton:focus, .advancedSearchButton:hover{
    border: 1px solid var(--cta);
}

.searchWrapper form {
    gap: 1em;
    display: flex;
}

.searchField {
    margin: 1em 0;
    flex-grow: 1;
    font-family: var(--mono-font);
    font-size: var(--classic-font-size);
    background-color: var(--background);
    color: var(--text-secondary);
    border: none;
}

.searchButton {
    padding: 0 1.5em;
    background-color: transparent;
    border: none;
    border-radius: 0 5px 5px 0;
}

.searchButton:hover, .searchButton:focus, .advancedSearchButton:focus, .advancedSearchButton:hover {
    background-color: var(--background-secondary);
}

.advancedSearchButton {
    padding: 0 1.5em;
    border: 1px solid var(--mid-text);
    background-color: var(--background);
    border-radius: 5px;
    height: 60px;
    aspect-ratio: 1;
}

/* this is the div wrapper for the username menu */
.dropdown { 
    position: relative;
    flex-grow: 1;
}

.accountButton {
    padding: 0 1.5em;
    border: 1px solid var(--text-secondary);
    background-color: var(--background);
    font-size: var(--classic-font-size);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1em;
    height: 60px;
    width: 100%;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: var(--background);
    width: calc(100% - 2px);
    
}

.dropdown:hover .dropdownContent {
    padding-top: 5px;
    margin-top: -5px;
    border: 1px solid var(--cta);
    border-top: none;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
}

.dropdown:hover .accountButton {
    border: 1px solid var(--cta);
}

.dropdownButton {
    padding: 1em;
    border: none;
    background-color: var(--background);
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.dropdownButton:hover {
    background-color: var(--background-secondary);
}

.dropdownButton:last-child {
    border-radius: 0 0 5px 5px;
}

.dropdownButton:last-child:hover {
    background-color: var(--invalid-red);
    color: var(--background);
}

.agentWrapper .calendarWrapper {
    margin: 1em 2em;
}

/* CALENDAR */

.weekWrapper {
    display: grid;    
    border: 1px solid var(--text);
    border-radius: 0 0 10px 10px;
}

.calendarNavWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--text-secondary);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.dateBlock {
    display: flex;
    align-items: baseline;
    gap: 1em;
    padding: 1em;
}

.dateBlock h1 {
    margin: 0;
}

.dateBlock span {
    font-family: var(--mono-font);
}

.weekSelector {
    margin: 1em;
    border: 1px solid var(--text-secondary);
    border-radius: 5px;
    display: flex;
}

.weekSelector:has(*:hover, *:focus) {
    border: 1px solid var(--cta);
}

.weekSelector button {
    padding: 1em;
    border: none;
    background-color: var(--background);
}

.weekSelector button:hover, .weekSelector button:focus {
    background-color: var(--background-secondary);
}

.weekSelector .previous {
    border-radius: 5px 0 0 5px;
}

.weekSelector .next {
    border-radius: 0 5px 5px 0;
}

.weekSelectorDateField {
    border: none;
    background-color: var(--background);
    font-family: var(--mono-font);
}

.weekSelectorDateField:focus, .weekSelectorDateField:hover {
    outline: none;
    background-color: var(--background-secondary);
}

.day {
    display: flex;
    flex-direction: column;
}

.dayCell {
    display: flex;
    gap: 1em;
    align-items: baseline;
    justify-content: center;
    border-bottom: 1px solid var(--text-secondary) ;
}

.dayCell span {
    font-family: var(--mono-font);
}

.pronounsSpan {
    color: var(--mid-text);
    font-size: var(--small-font-size);
}

.events {
    display: flex;
    flex-direction: column;
}

.event {
    padding: 1em;
    padding-bottom: 0;
}

.event h2 {
    margin: 0;
}

.event p {
    margin: 0;
}

.eventDetails {
    padding: .5em 0;
    display: flex;
    gap: 1em;
    align-items: center;
    border-bottom: 1px solid var(--mid-text);
}

.event:last-child .eventDetails {
    border-bottom: none;
}

.eventTime {
    font-family: var(--mono-font);
}

.eventConseiller {
    padding: .5em;
    flex-grow: 1;
    border-radius: 5px;
    border: 1px solid var(--text-secondary);
}

.event:hover {
    background-color: var(--background-secondary);
    border-radius: 0 0 5px 5px;
}

.monday .events .event:hover:last-child {
    border-radius: 0 0 0 10px;
}

.sunday .events .event:hover:last-child {
    border-radius: 0 0 10px 0;
}


/* UTILITY */

.cta {
    background-color: var(--cta);
    border: none;
    flex-grow: 1;
    border-radius: 5px;
    color: var(--background);
    font-size: var(--big-font-size);
}


.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

.error {
    color: var(--invalid-red);
}

.searchField {
    appearance: textfield;
    font-family: var(--mono-font);
    font-size: var(--classic-font-size);
    background-color: var(--background);
    color: var(--text-secondary);
    border: none;
}

.searchField:focus {
    outline: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1300px) {

    /* CALENDAR */

    .weekWrapper {
        grid-auto-flow:column;
        grid-auto-columns: 1fr;    
    }

    .day {
        border-top: none;
        border-right: 1px solid var(--text-secondary);
    }
    
    .day:last-child {
        border-right: none;
    }
}

@media screen and (max-width:1800px) {
    .dayCell h1 {
        font-size: var(--big-font-size);
    }
}